<!DOCTYPE html>
<html>
<head>
    <link href="/css/fullcalendar.min.css" rel="stylesheet"/>
    <link href="/css/fullcalendar.print.min.css" rel="stylesheet" media="print"/>
    <script src="/frontendJS/jquery.min.js"></script>
    <script src="/frontendJS/moment.min.js"></script>
    <script src="/frontendJS/fullcalendar.min.js"></script>
    <script src="/frontendJS/nb.js"></script>
    <script src="/frontendJS/adminShifts.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/css/adminShifts.css" rel="stylesheet"/>
    <script type="text/javascript" src="events.json"></script>
</head>

<div id="includedContent"></div>
<script>$("#includedContent").load("menu");</script>

<body>
<div class="alert alert-success fade in" id="successMessageBox"> <!-- TAG #successMessage FOR ALERTS -->
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <span id="successMessage">This is the default warning text</span>
</div>

<div id="adminNewShiftModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modalShift" class="modal-title">Legg til vakter</h4>
            </div>
            <!-- Modal body-->
            <div id="adminNewShiftModalContent" class="modal-body">
                <div id="timeBox">
                    <label for="datePicker">Dato</label><br>
                    <input id = datePicker type="date" onchange="oppdateTable()">
                    <form action="">
                        <label>Vakt</label><br>
                        <input type="radio" name="time" value="day"> Dag<br>
                        <input type="radio" name="time" value="evening"> Kveld<br>
                        <input type="radio" name="time" value="night"> Natt
                    </form>
                </div>
                <div id="departmentBox">
                    <label for="chooseDepartment">Avdeling</label>
                    <select id="chooseDepartment"></select>
                </div>
                <div id="numberBox">
                    <label for="chooseNumber">Antall folk</label>
                    <select id="chooseNumber" onchange="getDispersion(this)"></select>
                </div>
                <div id="peopleBox">
                    <table id="peopleTable"></table>
                </div>
                <input type="submit" value="Lagre" id="saveNewShift">
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal">Lukk</button>
            </div>
        </div>
    </div>
</div>

<div id="fillShiftModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="fillShift" class="modal-title">Legg til person</h4>
            </div>
            <!-- Modal body-->
            <div id="fillShiftModalContent" class="modal-body">
                <label for="chooseDepartment">Velg ansatt</label><br>
                <select id="choosePerson"></select><br>
                <input type="submit" value="Lagre" id="saveFillShift" onclick="saveFillShift()">
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal">Lukk</button>
            </div>
        </div>
    </div>
</div>

<div id="container">
    <div id="sideTitle">Administrer vakter</div>
    <button type="button" class="menuBtn" id="createNewShift" data-toggle="modal" data-target="#adminNewShiftModal"><span>Opprett ny vakt</span>
    </button>
    <div id='calendarx'></div>
</div>


</body>
</html>
