<!DOCTYPE html>
<html>
<head>
    <link href="/css/fullcalendar.min.css" rel="stylesheet"/>
    <link href="/css/fullcalendar.print.min.css" rel="stylesheet" media="print"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/frontendJS/moment.min.js"></script>
    <script src="/frontendJS/jquery.min.js"></script>
    <script src="/frontendJS/fullcalendar.min.js"></script>
    <script src="/frontendJS/nb.js"></script>
    <script src="/frontendJS/adminShifts.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/css/adminShifts.css" rel="stylesheet"/>
    <script type="text/javascript" src="events.json"></script>
</head>

<div id="includedContent"></div>
<script>$("#includedContent").load("menu");</script>

<body>

<div class="modal fade" id="switchModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Opprett ny vakt</h3>
            </div>

            <main class="modal-body">
                <div id="selectDateBox">
                    <p>Dato og tid</p>
                    <select id="selectDate"></select>
                    <select id="selectShift"></select>
                </div>
                <div id="selectdepartmentBox">
                    <p>Avdeling</p>
                    <select id= "selectDepartment"></select>
                </div>
                <div id="selectNumberBox">
                    <p>Antall</p>
                    <select id= "selectNumber" onchange="getDispersion(this)"></select>
                </div>
                <div id="selectPeopleBox">
                    <table id="selectPeopleTable"></table>
                </div>
                <button type="button" id="lagreNyVakt" data-dismiss="modal">Lagre</button>
            </main>

            <div class="modal-footer">
                <button type="button" class="closeButton" data-dismiss="modal">Lukk</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="adminNewShiftModal" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal header-->
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2 id="organizeShiftTitle">Header</h2>
        </div>
        <!-- Modal body-->
        <div id="adminNewShiftModalContent" class="modal-body">
            <div id="departmentBox">
                <p>Avdeling</p>
                <select id= "chooseDepartment"></select>
            </div>
            <div id="numberBox">
                <p>Antall</p>
                <select id= "chooseNumber" onchange="getDispersion(this)"></select>
            </div>
            <div id="peopleBox">
                <table id="peopleTable"></table>
            </div>
            <input type="submit" value="Lagre" id="saveNewShift">
        </div>
        <!-- Modal footer-->
        <div class="modal-footer">
            <button type="button" class="close" >Lukk</button>
        </div>
    </div>
</div>
</div>

<div id="container">
    <button type="button" class="menuBtn" id="createNewShift" data-toggle="modal" data-target="#switchModal"><span>Opprett ny vakt</span></button>
    <div id='calendarx'></div>
</div>

</body>
</html>
