<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JustaTest</title>
    <link rel="stylesheet" type="text/css" href="/css/employees.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/frontendJS/batman.js"></script>
</head>
<body>
<h1>Kontaktinformasjon</h1>
 <input type="text" id="employee_idInput" placeholder = "Employee_id" >
<ul style="list-style-type:none">
    <li> <input type="tel" id="phoneInput" placeholder = "Phone"> </li>
    <li> <input type="text" id="hoursInput" placeholder = "Total Hours" > </li>
    <li> <input type="email" id="emailInput" placeholder = "Email"> </li>
    <li> <input type="number" id="seniorityInput" placeholder = "Seniority" > </li>
    <li> <input type="number" id="respInput" placeholder = "Responsibility" > </li>
    <li> <input type="text" id="typeInput" placeholder = "Type" > </li>
    <li> <input type="text" id="nameInput2" placeholder = "Name" > </li>
    <li> <input type="text" id="addressInput" placeholder = "Address"> </li>
    <li> <input type="number" id="persidInput" placeholder = "PersID" > </li>
</ul>
<button type="button" id="add" onclick="onClick()">Oppdater info</button>
</body>
</html>