<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forespørsler</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" type="text/css" href="css/forespørsler.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="frontendJS/appeal.js"></script>
    <link rel="stylesheet" href="css/appeal.css">

</head>

<div id="includedContent"></div>
<script>$("#includedContent").load("menu");</script>

<body>
<div class="alert alert-success fade in" id="successMessageBox"> <!-- TAG #successMessage FOR ALERTS -->
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <span id="successMessage">This is the default warning text</span>
</div>

<div id="sideTitle">Forespørsel</div>

<h1 id="Appeal">Forespørsel</h1>
<button type="button" class="appealButton" id ="absence" onclick="absenceFunction()" autofocus><span>Fravær</span></button>
<button type="button" class="appealButton" id ="change" onclick="changeFunction()"><span>Bytt vakt</span></button>
<button type="button" class="appealButton" id ="changeTo" onclick="changeToFunction()"><span>Bytt vakt med</span></button>
<button type="button" class="appealButton" id ="overtime" onclick="overtimeFunction()"><span>Overtid</span></button>

<!--
    TODO get navn, vakter
    TODO post forespørsel
-->

<section class="appealSection" id="absenceAppeal" style="display:block">
    <h3>Søk om fravær</h3>
    <form>
        <fieldset>

            <span class="formTitle">Fraværstype</span><br>
            <select>
                <option value="" disabled selected>Velg</option>
                <option value="vacation">ferie</option>
                <option value="disease">sykdom</option>
                <option value="Religion">Religiøs høytid</option>
                <option value="public-verv">Offentlig verv</option>
                <option value="Military-service">Millitær tjeneste</option>
                <option value="leave">Permisjon</option>
                <option value="funeral">Begravelse</option>
            </select><br>

            <span class="formTitle">Dato:</span><br>
            fra:<br><input type="date"><br>
            til: <br><input type="date"><br>

            <span class="formTitle">Årsak:</span>
            <br>
            <textarea></textarea><br>

            <input type="submit">
        </fieldset>
    </form>
</section>

<section class="appealSection" id="changeAppeal" style="display:none">
    <h3>Søk om vaktbytte</h3>
    <form>
        <fieldset>
            <span class="formTitle">Velg vakt</span><br>
            <select id="selectShift" size="5">
            </select><br>
            <span class="formTitle">Årsak:</span>
            <br>
            <textarea></textarea><br>

            <input type="submit">
        </fieldset>
    </form>
</section>

<section class="appealSection" id="changeToAppeal" style="display:none">
    <h3>Søk om vaktbytte med bestemt vakt</h3>
    <form>
        <fieldset>
            <span class="formTitle">Bytt fra</span><br>
            <select id="selectshiift" size="5">
            </select><br>
            <span class="formTitle">Bytt til</span><br>
            <select id="selectvakt" size="5">
            </select><br>
            <span class="formTitle">Årsak:</span>
            <br>
            <textarea></textarea><br>

            <input type="submit">
            </fieldset>
        </form>

    </div>
</div>
</section>

<section class="appealSection" id="overtimeAppeal" style="display:none">
<div id="2">
    <form id="overtimeform">
        <fieldset>
            <h3>Søk om overtid</h3>
            <span class="formTitle">Vakttype</span><br>
            <select>
                <option value="" disabled selected>Velg</option>
                <option value="Dayshift">Dagvakt</option>
                <option value="eveningshift">Kveldsvakt</option>
                <option value="nightshift">nattevakt</option>
            </select><br>

            <span class="formTitle">Dato:</span><br>
            <input type="date" ><br>
            kom: <br>
            <input type="time" id="overtimeinput1"><br>
            dro:<br>
            <input type="time" id="overtimeinput2"><br>

            <span class="formTitle">Årsak:</span><br>
            <textarea></textarea><br>

            <input type="submit" id="overtimesubmit">
        </fieldset>
    </form>


</div>

</section>

</body>
</html>