<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tilgjengelighet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src = "frontendJS/availability.js"></script>
    <link rel="stylesheet" href="css/availability.css">
</head>
<body>

    <h1>Tilgjengelighet</h1>
    <section class="availability">
        <h3>Dato: <span id="dateAvail"></span></h3>
        <table id="availTable" class="table table-bordred table-striped">
            <thead>
            <th></th>
            <th>Avdeling</th>
            <th>Stilling</th>
            <th>Fra</th>
            <th>Til</th>
            </thead>
            <tbody>
            <tr>
                <td><input type="checkbox" class="checkthis"/></td>
                <td>2</td>
                <td>Sykepleier</td>
                <td> 16:00</td>
                <td> 22:00</td>
            </tr>
            </tbody>
        </table>

    </section>
</body>
</html>