<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/frontendJS/moment.min.js"></script>
    <script src="/frontendJS/jquery.min.js"></script>
    <script src="/frontendJS/fullcalendar.min.js"></script>
    <script src="/frontendJS/nb.js"></script>
    <script src="frontendJS/calendar.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/fullcalendar.min.css" rel="stylesheet"/>
    <link href="/css/fullcalendar.print.min.css" rel="stylesheet" media="print"/>
    <link rel="stylesheet" href="/css/calendar.css">
</head>

<div id="includedContent"></div>
<script>$("#includedContent").load("menu");</script>

<body>
<div id="container">
    <div id='calendar'></div>

    <aside id="nextShift">
        <h4 class="shiftHeader"> NESTE VAKT</h4>
        <p id="nextShiftInfo">:)</p>
    </aside>
    <aside id="newShiftBox">
        <h4 class="shiftHeader"> GODKJENN VAKTER</h4>
        <p id="newShifts">Husk å sjekke om du har vakter til godkjenning.</p>
    </aside>

    <aside id="menuEmp">
        <button type="button" class="menuBtn" id="availabilityB"><span>Tilgjengelighet</span></button>
        <button type="button" class="menuBtn" id="shiftB" data-toggle="modal" data-target="#switchModal"><span>Vaktforespørsler</span></button>
        <button type="button" class="menuBtn" id="extraB" ><span>Fravær og overtid</span></button>
    </aside>

    <!-- 1:Modal-switch -->
    <div class="modal fade" id="switchModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <!-- Modal header-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Vakter til godkjenning</h3>
                </div>
                <!-- Modal body-->

                <main class="modal-body">
                    <table id="switchTable" class="table table-bordred table-striped">
                        <thead>
                        <th><input type="checkbox"/></th>
                        <th>Stilling</th>
                        <th>Dato</th>
                        <th>Fra</th>
                        <th>Til</th>
                        <th>Ansvar</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="checkbox" class="checkthis"/></td>
                            <td>Sykepleier</td>
                            <td>21.01.17</td>
                            <td> 16:00</td>
                            <td> 22:00</td>
                            <td> Ja</td>
                        <tr>
                            <td><input type="checkbox" class="checkthis"/></td>
                            <td>Sykepleier</td>
                            <td>25.01.17</td>
                            <td> 16:00</td>
                            <td> 22:00</td>
                            <td> Nei</td>
                        </tbody>
                    </table>

                    <button type="button" id="acceptB" data-dismiss="modal">Godkjenn vakter</button>

                </main>
                <!-- Modal footer-->
                <div class="modal-footer">
                    <button type="button" class="closeButton" data-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
