<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/frontendJS/moment.min.js"></script>
    <script src="/frontendJS/jquery.min.js"></script>
    <script src="/frontendJS/fullcalendar.min.js"></script>
    <script src="/frontendJS/nb.js"></script>
    <script src="frontendJS/calendar.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link href="/css/fullcalendar.min.css" rel="stylesheet"/>
    <link href="/css/fullcalendar.print.min.css" rel="stylesheet" media="print"/>
    <link rel="stylesheet" href="/css/calendar.css">
</head>

<div id="includedContent"></div>
<script>$("#includedContent").load("menu");</script>

<body>
<div id="container">
    <div id='calendar'></div>
    <aside id="menuEmp">
        <button type="button" class="menuBtn" onclick="location.href='/availability';" id="availabilityB"><span>Tilgjengelighet</span></button>
        <button type="button" class="menuBtn" id="shiftB" data-toggle="modal" data-target="#switchModal"><span>Ledige vakter</span></button>
        <button type="button" class="menuBtn" onclick="location.href='/appeal';" id="extraB" ><span>Fravær og overtid</span></button>
    </aside>

    <aside id="nextShift">
        <h4 class="shiftHeader"> NESTE VAKT</h4>
        <p id="nextShiftInfo"></p>
    </aside>
    <aside id="warning">
        <h4 class="shiftHeader" onclick="buttonChangeTab()"> FORKLARING </h4>
        <div>
            <div id="myShifts"></div>
            <p id="myShiftsText">De grønne vaktene er vakter du har godkjent. Trykk på disse for å få oversikt over den enkelte vakten. </p>
            <div id="availShifts"></div>
            <p id="availShiftsText">De gule vaktene er ledige vakter du kan ta. Trykk på vaktene for å sende inn forespørsel om å ta den enkelte vakten.</p>
        </div>
    </aside>


    <!-- 1:Modal-switch -->
    <div class="modal fade" id="switchModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <!-- Modal header-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Ledige vakter</h3>
                </div>
                <!-- Modal body-->

                <main class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="vaktTable">
                        </table>
                    </div>
                    <button type="button" id="sendForespørsel" data-dismiss="modal">Send</button>

                </main>
                <!-- Modal footer-->
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modalShift" class="modal-title"></h4>
            </div>
            <div id="modalBody" class="modal-body">
                <p id ="begin"></p>
                <p id="end"></p>
                <button type="button" id="sendRequest" data-dismiss="modal" onclick="saveReq()">Send forespørsel</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal">Lukk</button>
            </div>
        </div>
    </div>
</div>
<script>
    function saveReq() {
        confirm("Er du sikker på at du vil ha denne vakten?");
    }
</script>
</body>
</html>
