<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <link href="/css/fullcalendar.min.css" rel="stylesheet"/>
    <link href="/css/fullcalendar.print.min.css" rel="stylesheet" media="print"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="/frontendJS/moment.min.js"></script>
    <script src="/frontendJS/jquery.min.js"></script>
    <script src="/frontendJS/fullcalendar.min.js"></script>
    <script src="/frontendJS/nb.js"></script>
    <script src="frontendJS/calendar.js"></script>

    <link rel="stylesheet" href="/css/calendar.css">
</head>
<div id="includedContent"></div>
<body>
<div id='calendar'></div>

<aside id="nextShift">
    <h4 class="shiftHeader"> NESTE VAKT</h4>
    <p id="nextShiftInfo">Din neste vakt er 20.01.17</p>
</aside>
<aside id="newShiftBox">
    <h4 class="shiftHeader"> GODKJENN VAKT(ER)</h4>
    <p id="newShifts">Du har fått nye vakter, klikk her for å godkjenne</p>
</aside>
</body>
</html>
