<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="events.json"></script>
    <meta charset='utf-8'/>

    <!--<script src="/frontendJS/jquery.min.js"></script>-->
    <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="/css/fullcalendar.min.css" rel="stylesheet"/>
    <link href="/css/fullcalendar.print.min.css" rel="stylesheet" media="print"/>
    <script src="/frontendJS/moment.min.js"></script>
    <script src="/frontendJS/fullcalendar.min.js"></script>
    <script src="/frontendJS/nb.js"></script>
    <script src="frontendJS/frontpageAdmin.js"></script>
    <link rel="stylesheet" href="/css/frontpageEmp.css">
    <link rel="stylesheet" href="css/frontpageAdmin.css">
</head>

<div id="includedContent"></div>
<script>$("#includedContent").load("menu");</script>

<body>
<div id="successMessageBox">
    <span id="successMessage">default success</span>
</div>
<div id="errorMessageBox">
    <span id="errorMessage">default error</span>
</div>

<div id="container">
    <div id="sideTitle">HJEM FOR ADMINISTRASJONEN</div>

    <div id='calendar' style="display:block"></div>

    <button type="button" class="buttonsAdmin" id="buttonChangeTab"  onclick="location.href='/approvalAdmin';"><span>Godkjenning &#10003;</span></button>
    <button type="button" class="buttonsAdmin" id="listButton"  onclick="location.href='/vaktoversikt';"><span>Dagens vakter</span></button>

    <aside id="freeShifts" onclick="location.href='/adminShifts';" >
        <h4 class="titles"> LEDIGE VAKTER </h4>
        <div id="freeShiftsNumber"></div>
        <div id="freeShiftsText">Administrer vakter</div>
    </aside>
    <aside id="warning" onclick="location.href='/approvalAdmin';">
        <h4 class="titles" onclick="buttonChangeTab()"> VARSEL </h4>
        <div id="absenceWarning"></div>
        <div id="overtimeWarning"></div>
        <div id="changeWarning"></div>
    </aside>
    <aside id="explanation">
        <h4 id="shiftHeaderAdmin" > FORKLARING </h4>
        <div>
            <div id="green"></div>
            <p id="greenText">De grønne vaktene er vakter du har godkjent. Trykk på disse for å få oversikt over den enkelte vakten, be om fri eller søke om overtid. På "frigjør vakter" kan man be om fri fra flere vakter samtidig. </p>
            <div id="yellow"></div>
            <p id="yellowText">De gule vaktene er ledige vakter du kan ta. Trykk på vaktene for å sende inn forespørsel om å ta den enkelte vakten.</p>
            <div id="blue"></div>
            <p id="blueText">De blå vaktene er vakter du allerede har hatt. Du kan finne fullsteding oversikt over disse i historikken under Min profil.</p>
        </div>
    </aside>
</div>

</body>
<script>
</script>
</html>
