<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="events.json"></script>
    <meta charset='utf-8'/>

    <link href="/css/fullcalendar.min.css" rel="stylesheet"/>
    <link href="/css/fullcalendar.print.min.css" rel="stylesheet" media="print"/>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/frontendJS/moment.min.js"></script>
    <script src="/frontendJS/jquery.min.js"></script>
    <script src="/frontendJS/fullcalendar.min.js"></script>
    <script src="/frontendJS/nb.js"></script>
    <script src="frontendJS/calendar.js"></script>
    <script src="frontendJS/frontpageAdmin.js"></script>
    <link rel="stylesheet" href="/css/calendar.css">
    <link rel="stylesheet" href="css/frontpageAdmin.css">
</head>

<div id="includedContent"></div>
<script>$("#includedContent").load("menu");</script>

<body>
<div id="successMessageBox">
    <span id="successMessage">default success</span>
</div>
<div id="errorMessageBox">
    <span id="errorMessage">default error</span>
</div>

<div id="container">
    <div id="sideTitle">HJEM</div>

    <div id='calendar' style="display:block"></div>

    <button type="button" class="buttonsAdmin" id="buttonChangeTab"  onclick="location.href='/approvalAdmin';"><span>Godkjenning &#10003;</span></button>
    <button type="button" class="buttonsAdmin" id="listButton"  onclick="location.href='/vaktoversikt';"><span>Dagens vakter</span></button>

    <aside id="freeShifts" onclick="location.href='/adminShifts';" >
        <h4 class="titles"> LEDIGE VAKTER </h4>
        <div id="freeShiftsNumber"></div>
        <div id="freeShiftsText">Administrer vakter</div>
    </aside>
    <aside id="warning" onclick="location.href='/approvalAdmin';">
        <h4 class="titles" onclick="buttonChangeTab()"> VARSEL </h4>
        <div id="absenceWarning"></div>
        <div id="overtimeWarning"></div>
        <div id="changeWarning"></div>
    </aside>

    <button type="button" id="testButton">warning test</button>

</div>

</body>
<script>
</script>
</html>
