<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trondheim kommune</title>
    <link rel="stylesheet" href="css/frontpageSuper.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<div id="includedContent"></div>
<script>$("#includedContent").load("menu");</script>

<body>
    <div id = troll>
        <button type="button" class="superbutton" id="userB"             >LOGG INN SOM BRUKER</button>
        <button type="button" class="superbutton" id="administrationB"  >LOGG INN SOM ADMINISTRASJON</button>
    </div>
</body>
</html>