<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="frontendJS/hmenu.js"></script>
    <!--
    <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    -->
</head>
<body>
<!---->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/calendar"        id="navButt1" style = "display: none">MinVakt</a>
            <a class="navbar-brand" href="/frontpageAdmin"  id="navButt2" style = "display: none">MinVakt</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <!-- Bruker -->
                <li class="dropdown" id = "dropdown1" style = "display: none">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ansatt<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/calendar"         >Hjem</a></li>
                        <!--<li><a href="/appeal"           >Forespørsel</a></li>-->
                        <li><a href="/availability"     >Tilgjengelighet</a></li>
                        <li><a href="/vaktoversikt"     >Vaktoversikt</a></li>
                        <li><a href="/myProfile"        >Min Profil</a></li>
                        <li><a href="/overviewEmp"      >Ansattoversikt</a></li>
                    </ul>
                </li>
                <li><a href="/calendar"       id = "element1"  style = "display: none" >Hjem</a></li>
                <!--<li><a href="/appeal"         id = "element2"  style = "display: none" >Forespørsel</a></li>-->
                <li><a href="/availability"   id = "element3"  style = "display: none" >Tilgjengelighet</a></li>
                <li><a href="/vaktoversikt"   id = "element4"  style = "display: none" >Vaktoversikt</a></li>
                <li><a href="/myProfile"      id = "element5"  style = "display: none" >Min Profil</a></li>
                <li><a href="/overviewEmp"    id = "element6"  style = "display: none" >Ansattoversikt</a></li>
                <!-- Kontor -->
                <li class="dropdown" id = "dropdown2" style = "display: none">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/frontpageAdmin"    >Hjem</a></li>
                        <li><a href="/vaktoversikt"      >Vaktoversikt</a></li>
                        <li><a href="/approvalAdmin"     >Godkjenning</a></li>
                        <li><a href="/adminShifts"       >Vaktadministrering</a></li>
                        <li><a href="/overviewForAdmin"  >Ansattoversikt</a></li>
                    </ul>
                </li>
                <li><a href="/frontpageAdmin"   id = "element7"  style = "display: none" >Hjem</a></li>
                <li><a href="/vaktoversikt"     id = "element8"  style = "display: none" >Vaktoversikt</a></li>
                <li><a href="/approvalAdmin"    id = "element9"  style = "display: none" >Godkjenning</a></li>
                <li><a href="/adminShifts"      id = "element10" style = "display: none" >Vaktadministrering</a></li>
                <li><a href="/overviewForAdmin" id = "element11" style = "display: none" >Ansattoversikt</a></li>
                <li><a href="/myProfile"        id = "element12" style = "display: none" >Min Profil</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <!--<h3>Right Aligned Navbar</h3>
    <p>The .navbar-right class is used to right-align navigation bar buttons.</p>-->
</div>
</body>
</html>