<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


    <script src="frontendJS/hmenu.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Min Vakt</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">

                <!-- Bruker -->
                <li class="dropdown" id = "dropdown1" style = "display: none">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">AnsattHjem<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/calendar"       id = "element1" style = "display: none" >Hjem</a></li>
                        <li><a href="/appeal"         id = "element2" style = "display: none" >Forespørsel</a></li>
                        <li><a href="/availability"   id = "element3" style = "display: none" >Tilgjengelighet</a></li>
                        <li><a href="/vaktoversikt"   id = "element4" style = "display: none" >Vaktoversikt</a></li>
                    </ul>
                </li>
                <li><a href="/myProfile"       id = "element5" style = "display: none">Min Profil</a></li>
                <li><a href="/overviewEmp"     id = "element6" style = "display: none">Annsattoversikt</a></li>

                <!-- Kontor -->
                <li class="dropdown" id = "dropdown2" style = "display: none">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">AdminHjem<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/frontpageAdmin"   id = "element7" style = "display: none" >Hjem</a></li>
                        <li><a href="/vaktoversikt"     id = "element8" style = "display: none" >Vaktoversikt</a></li>
                        <li><a href="/approvalAdmin"    id = "element9" style = "display: none" >Godkjenning</a></li>
                    </ul>
                </li>
                <li><a href="/adminShifts"      style = "display: none" id = "element10" >Admin vakter</a></li>
                <li><a href="/overviewForAdmin" style = "display: none" id = "element11" >Oversikt for Administrasjonen</a></li>

                <!-- Administrator -->
                <li><a href="/frontpageSuper" style = "display: none" id = "element12" >Super</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <!--<h3>Right Aligned Navbar</h3>
    <p>The .navbar-right class is used to right-align navigation bar buttons.</p>-->
</div>

</body>
</html>