<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/LoginStyle.css">
</head>

<body>

<form>
    <div class="imgcontainer">
        <img src=/IMG01 alt="Logo" class="logo" style="width:360px;height:360px;-webkit-filter: drop-shadow(2px 2px 2px #787878);">
    </div>

    <div class="container">
        <label><b>Brukernavn</b></label>
        <input type="text" placeholder="Brukernavn" name="Brukernavn" required>

        <label><b>Passord</b></label>
        <input type="Password" placeholder="Passord" name="Passord" required>

        <button type="submit">Login</button>
    </div>
</form>

</body>
</html>
