<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MinProfil</title>
    <link rel="stylesheet" href="../public/css/myProfile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>


        function onClick() {
            $.get('/NodeETest', {}, function(req, res, data){
                //console.log(JSON.stringify(data));
                //console.log(res.body);
                var innhold = data.responseJSON;

                console.log(innhold);

                //var objekter = JSON.parse(innhold);

                //console.log(objekter);

            });
        }

    </script>

</head>
<body>
<main>
    <h1 id = "h1">navn på ansatt FRADATABASE</h1>
    <table cellspacing="10">
        <tr>
            <td class="info">Stillingstittel</td>
            <td class="db"></td>
        </tr>
        <tr>
            <td class="info">Telefonnummer</td>
            <td class="db">FRADATABASE</td>
        </tr>
        <tr>
            <td class="info">E-postadresse</td>
            <td class="db">FRADATABASE</td>
        </tr>
        <tr>
            <td class="info">Adresse</td>
            <td class="db">FRADATABASE</td>
        </tr>
    </table>
    <button type="button" onclick="onClick()">Rediger</button>
</main>
<figure>
    <img src="https://s3.amazonaws.com/whisperinvest-images/default.png" alt = "Bilde av ansatt" size="width:100px height:100px;">
</figure>
</body>
</html>
