<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MinProfil</title>
    <link href ="/css/myProfile.css" rel="stylesheet" type = "text/css" > <!-- public + /css/myProfile.css   -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>


        $(document).ready(function(){ // syntax for å hente data når dokument (html) er lastet inn
            $.get('/NodeETest', {}, function(req, res, data){
                //console.log(JSON.stringify(data));
                //console.log(res.body);
                var innhold = data.responseJSON;
                document.getElementById("h1").innerHTML = data.responseJSON[0].notat;
                //console.log(innhold);

                //var objekter = JSON.parse(innhold);

                //console.log(objekter);

            });
        });

    </script>

</head>
<body>
<main>
    <h1 id = "h1">navn på ansatt FRADATABASE</h1>
    <table cellspacing="10">
        <tr>
            <td class="info">Stillingstittel</td>
            <td class="db"></td>
        </tr>
        <tr>
            <td class="info">Telefonnummer</td>
            <td class="db">FRADATABASE</td>
        </tr>
        <tr>
            <td class="info">E-postadresse</td>
            <td class="db">FRADATABASE</td>
        </tr>
        <tr>
            <td class="info">Adresse</td>
            <td class="db">FRADATABASE</td>
        </tr>
    </table>
    <button type="button">Rediger</button>
</main>
<figure>
    <img src="/img/kungen.jpg" alt = "Bilde av ansatt" size="width:100px height:100px;">
</figure>
</body>
</html>

<!--"https://s3.amazonaws.com/whisperinvest-images/default.png" -->