<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MinProfil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href ="css/myProfile.css" rel="stylesheet" type = "text/css" > <!-- public + /css/myProfile.css   -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="frontendJS/jquery-latest.js"></script>
    <script type="text/javascript" src="frontendJS/tablesorter.js"></script>

</head>
<body class="profile">
<main class="infoEmp">
    <h1>navn på ansatt FRADATABASE</h1>
    <table>
        <tr>
            <td class="info">Stillingstittel</td>
            <td class="db">FRADATABASE</td>
        </tr>
        <tr>
            <td class="info">Telefonnummer</td>
            <td class="db">FRADATABASE</td>
        </tr>
        <tr>
            <td class="info">E-postadresse</td>
            <td class="db">FRADATABASE</td>
        </tr>
        <tr>
            <td class="info">Adresse</td>
            <td class="db">FRADATABASE</td>
        </tr>
    </table>
    <button type="button" id="editBtn" onclick="alert('Ring administrasjonen')">Rediger</button>
    <button type="button" id="historyBtn" data-toggle="modal" data-target="#historyModal">Historikk</button>

</main>
<figure>
    <img src="https://s3.amazonaws.com/whisperinvest-images/default.png" id="profilePic" alt = "Bilde av ansatt" size="width:100px height:100px;">
</figure>
<button type="button" id="picBtn" onclick="alert('Ring administrasjonen')">Rediger profilbilde</button>

<!-- Modal:history -->
<div class="modal fade" id="historyModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <!-- Modal header-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Historikk</h3>
            </div>
            <!-- Modal body-->
            <div class="table-responsive">
                <table class = "histTable " id="sortTable">
                    <thead>
                    <tr class="headerTable">
                        <th style="width:19%;" >Dato &#8597;</th>
                        <th style="width:15%;" >Avdeling &#8597;</th>
                        <th style="width:15%;">Stilling &#8597;</th>
                        <th style="width:17%;">Ansvarsvakt &#8597;</th>
                        <th style="width:15%;">Starttid &#8597;</th>
                        <th style="width:10%;">Timer &#8597;</th>
                        <th style="width:10%;">Overtid &#8597;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>16.01.17</td>
                        <td>2</td>
                        <td>Assistent</td>
                        <td>Nei</td>
                        <td>16:00</td>
                        <td>4</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>17.01.17</td>
                        <td>6</td>
                        <td>Sykepleier</td>
                        <td>Ja</td>
                        <td>16:00</td>
                        <td>8</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>27.01.17</td>
                        <td>9</td>
                        <td>Hjelpepleier</td>
                        <td>Ja</td>
                        <td>16:00</td>
                        <td>5</td>
                        <td>1</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <script>
                $(document).ready(function()
                    {
                        $("#sortTable").tablesorter();
                    }
                );

            </script>
            <!-- Modal footer-->
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal">Lukk</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){ // syntax for å hente data når dokument (html) er lastet inn
        $.get('/getEmployee', {}, function(req, res, data){

            console.log(data);
            console.log(data.responseJSON[1]);

            document.getElementById("h1").innerHTML = data.responseJSON[0].notat;
            document.getElementById("stillingstittel").innerHTML = data.responseJSON[1].notat;
            document.getElementById("tlfnr").innerHTML = data.responseJSON[0].id;
            document.getElementById("epost").innerHTML = data.responseJSON[0].notat;
            document.getElementById("adresse").innerHTML = data.responseJSON[0].id;

        });
    });
</script>
</body>
</html>

<!--"https://s3.amazonaws.com/whisperinvest-images/default.png" -->