<!DOCTYPE html>
<html lang="en">
<head>
    <title>MinVakt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
    <link href ="css/myProfile.css"         rel="stylesheet" type = "text/css" >    <!--profile-->
    <link href ="css/frontpageAdmin.css"    rel="stylesheet" type = "text/css" >    <!--frontpage-->
    <link href ="css/calendar.css"          rel="stylesheet" type = "text/css" >    <!--calendar-->
    <link href ="css/fullcalendar.min.css"  rel="stylesheet" type = "text/css">
    <link href ="css/fullcalendar.print.min.css" rel="stylesheet" media="print">
    <link href ="css/Vaktoversiktstyle.css" rel="stylesheet" type = "text/css">     <!--shift overview-->
    <link href="css/approvalAdmin.css" rel="stylesheet" type = "text/css">          <!--approval-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    <!--bootstrap-->

    <style src="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"></style>

    <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src ="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="frontendJS/tablesorter.js"></script>
    <script src ="frontendJS/sendPassword.js"></script>
    <script src ="frontendJS/myProfile.js"></script>
    <script src ="frontendJS/approvalAdmin.js"></script>
    <script src ="frontendJS/sorttable.js"></script>
    <script src ="frontendJS/vaktoversikt.js"> </script>
    <script src ="frontendJS/jquery-tablesorter.js"></script>
    <script src ="frontendJS/jquery-latest.js"></script>
    <script src ="frontendJS/moment.min.js"></script>
    <script src ="frontendJS/jquery.min.js"></script>
    <script src ="frontendJS/fullcalendar.min.js"></script>
    <script src ="frontendJS/nb.js"></script>
    <script src ="frontendJS/calendar.js"></script>
    <!--<script type="text/javascript"src="frontendJS/tablesorter.js"></script>-->

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MinVakt</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"  ><a data-toggle="tab" href="#Calendare">Calendar</a></li>
                <li                 ><a data-toggle="tab" href="#MyProfil">My Profile</a></li>
                <!-- <li                 ><a data-toggle="tab" href="#Administration">Administration</a></li> -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="tab" href="#adminCalendar" >Calendar</a></li>
                        <li><a data-toggle="tab" href="#adminDailyShifts" >Daily shifts</a></li>
                        <li><a data-toggle="tab" href="#adminApproval" >Approval</a></li>
                    </ul>
                </li>
                <!-- <li                 ><a data-toggle="tab" href="#Approve">Approve</a></li> -->
                <!-- <li                 ><a data-toggle="tab" href="#Exchange">Exchange Shifts </a></li> -->
                <!-- <li                 ><a data-toggle="tab" href="#Example">Example </a></li> -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Approve <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="tab" href="#approvalLeave"  >Leave</a></li>
                        <li><a data-toggle="tab" href="#approvalOvertime" >Overtime</a></li>
                        <li><a data-toggle="tab" href="#approvalSwitch"  >Switch</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a data-toggle="tab" href="#Logout"><span class="glyphicon glyphicon-log-out"></span> Login out</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="tab-content">
        <div id="Calendare" class="tab-pane fade in active">
            <h1>bruker's kalender</h1>
        </div>
        <div id="MyProfil" class="tab-pane fade">
            <h3>bruker's profil</h3>
        </div>
        <!-- <div id="Administration" class="tab-pane fade">
            <div>
                <div id='calendar1' style="display:block"></div>
                <aside id="warning">
                    <h4 class="titles"> VARSEL </h4>
                </aside>
                <aside id = "freeShifts" onclick="calendarFunction()">
                    <h4 class="titles"> LEDIGE VAKTER </h4>
                </aside>
                <section id="list" style="display:none">
                    <h1> Dagens vakter </h1>
                    <ul>
                        <li>Bente</li>
                        <li>Berit</li>
                        <li>Bil</li>
                        <li>Båt</li>
                        <li>Bål</li>
                        <li>hei</li>
                    </ul>
                </section>
                <button type="button" class="buttonsAdmin" id="calendarButton" onclick="calendarFunction()" autofocus><span> Kalender &#128197;</span></button>
                <button type="button" class="buttonsAdmin" id="buttonChangeTab" onclick="changeTabs()"> <span>Godkjenning&#10003;</span> </button>
                <button type="button" class="buttonsAdmin" id="listButton" onclick="listFunction()"> <span>Dagens vakter</span> </button>

            </div>
        </div> -->
        <div id="adminCalendar" class="tap-pane fade">
            <h3>administrator's kalender?</h3>
        </div>
        <div id="adminDailyShifts" class="tap-pane fade">
            <div>oversikt over folk som jobber idag</div>
        </div>
        <div id="adminApproval" class="tap-pane fade">
            <div>admin's godkjenning's side</div>
        </div>
        <!-- <div id="Approve" class="tab-pane fade ">
            <div>
                <h1 id="godkjenning">Godkjenning</h1>
                <button type="button" class="approveButton" id ="leave" onclick="leaveFunction()" autofocus><span>Godkjenn fravær<span></button>
                <button type="button" class="approveButton" id ="overtime" onclick="overtimeFunction()"><span>Godkjenn overtid<span></button>
                <button type="button" class="approveButton" id ="switch" onclick="switchFunction()"><span>Godkjenn vaktbytte<span></button>

                <button type="button" id ="save" onclick="saveFunction()"style="display:none">Godkjenn og lagre</button>
            </div>
        </div> -->
        <div id="approvalLeave" class="tap-pane fade">
            <h3>admin's godjenn fravær</h3>
        </div>
        <div id="approvalOvertime" class="tap-pane fade">
            <h3>Overtid til godkjenning</h3>
        </div>
        <div id="approvalSwitch" class="tap-pane fade">
            <h3>Vaktbytte til godkjenning</h3>
        </div>
        <div id="Exchange" class="tab-pane fade ">
            <h3>bruker's bytting)</h3>
        </div>
        <!--<div id="Example" class="tap-pane fade">
            <h3>ExamplePane tab will apear :)</h3>
        </div>-->
        <div id="Logout" class="tap-pane fade">
            <h3>You are have (NOT) successfully logged out :)</h3>
        </div>
    </div>
</div>
</body>
</html>