<!DOCTYPE html>
<head>
    <title> Oversikt over ansatte</title>
    <link rel="stylesheet" type="text/css" href="css/overviewAdmin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="frontendJS/overviewAdmin.js"></script>
    <div id="includedContent"></div>

</head>

<body>

<div class = "flytt">
    <h1>Oversikt over ansatte</h1>
    <input autofocus type="text" id="nameInput" onkeyup="searchNameFunction()" placeholder="Søk på ansatt">
    <input type="text" id="positionInput" onkeyup="searchPositionFunction()" placeholder="Søk på stilling">
    <button type="button" id="add" data-toggle="modal" data-target="#addModal">Legg til ansatt</button>

    <table class="table-responsive" id="excelDataTable">
    </table>

    <!-- 1:Modal-Add -->
    <div class="modal fade" id="addModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <!-- Modal header-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Legg til ansatt</h3>
                </div>
                <!-- Modal body-->

                <main class="modal-body">
                    <img id="picEmp" src="http://www.freeiconspng.com/uploads/profile-icon-9.png" alt="Bilde av ansatt"
                         height="150px" width="150px"></img>
                    <button type="button" id="addPicEmp">Legg til bilde</button>
                    <form id="addEmp">
                        Navn:
                        <input required id="fornavn" type="text" name="name" placeholder="eks: Jan Skrotnes">
                        <br>
                        Stilling:
                        <input required id="stilling" type="text" name="position" placeholder="eks: sykepleier">
                        <br>
                        Telefonnummer:
                        <input required id="telefon" type="number" name="phone" placeholder="eks: +47 12345678">
                        <br>
                        E-postadresse:
                        <input required id="epost" type="text" name="email" placeholder="eks: noen@mail.no">
                        <br>
                        Adresse:
                        <input required id="adresse" type="text" name="address" placeholder="eks: Gateveien 1">
                        <br>
                        Personnummer:
                        <input required id="personnummer" type="text" name="persNo" placeholder="11 siffer">
                        <br>
                        <br>
                        <br>
                        <button id="save" type="submit" value="submit">Lagre</button>
                    </form>
                </main>
                <!-- Modal footer-->
                <div class="modal-footer">
                    <button type="button" class="closeButton" data-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>


    <!-- 2:Modal-Edit -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <!-- Modal header-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Oversikt over ansatt</h3>
                </div>
                <!-- Modal body-->
                <main class="modal-body">
                    <div class="infoCard">
                        <img id="empPic" src="http://www.freeiconspng.com/uploads/profile-icon-9.png" alt="Bilde av ansatt"
                             style="width:80%">
                        <div class="container">
                            <p><input type="text" id="nameModal" class="desc" readonly/></p>
                            <p><input type="text" id="positionModal" class="desc" readonly/></p>
                        </div>
                    </div>
                    <section id="personForm" style="display:none;">
                        <form id="editEmp" action="#">
                            Navn:
                            <input required id="navndb" type="text" name="name" placeholder="eks: Jan Skrotnes">
                            <br>
                            Stilling:
                            <input required id="stillingdb" type="text" name="position" placeholder="eks: sykepleier">
                            <br>
                            Telefonnummer:
                            <input required id="telefondb" type="number" name="phone" placeholder="eks: +47 12345678">
                            <br>
                            E-postadresse:
                            <input required id="epostdb" type="text" name="email" placeholder="eks: noen@mail.no">
                            <br>
                            Adresse:
                            <input required id="adressedb" type="text" name="address" placeholder="eks: Gateveien 1">
                            <br>
                            Personnummer:
                            <input required id="personnummerdb" type="number" name="persNo" placeholder="11 siffer">
                            <br>
                            <br>
                            <button type="submit" value="submit" display="none">Lagre</button>
                            <button type="button" id="back" onclick="hideForm()" display="none">&#8592;Tilbake</button>
                        </form>
                    </section>
                    <section id="personInfo" style="display:block">
                        <table cellspacing="10">
                            <tr>
                                <td class="info">Navn:</td>
                                <td id="navndb2"></td>
                            </tr>
                            <tr>
                                <td class="info" id="">Stilling:</td>
                                <td id="stillingdb2"></td>
                            </tr>
                            <tr>
                                <td class="info">Telefonnummer:</td>
                                <td id="telefondb2"></td>
                            </tr>
                            <tr>
                                <td class="info">E-postadresse:</td>
                                <td id="epostdb2"></td>
                            </tr>
                            <tr>
                                <td class="info">Adresse:</td>
                                <td id="adressedb2"></td>
                            </tr>
                            <tr>
                                <td class="info">Personnummer:</td>
                                <td id="personnummerdb2"></td>
                            </tr>
                        </table>
                    </section>
                    <aside class="buttons">
                        <button type="button" id="edit" onclick="hideInfo()" display="inline">Rediger ansatt</button>
                        <button type="button" id="remove" onclick="removeFunction()" data-dismiss="modal" display="inline">Fjern ansatt</button>
                    </aside>
                </main>

                <!-- Modal footer-->
                <div class="modal-footer">
                    <button type="button" class="closeButton" data-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End all modal -->

</div>
</body>
</html>
