<!DOCTYPE html>
<head>
    <title> Oversikt over ansatte</title>
    <link rel="stylesheet" type="text/css" href="../public/css/employees.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        //search for name(s)
        function searchNameFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("nameInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            //Hide the rows that dont match the search
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        //search for position
        function searchPositionFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("positionInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        // remove employee
        function removeFunction() {
            var x;
            if (confirm("Er du sikker på at du vil fjerne denne ansatte?") == true) {
                //FJERN ANSATT FRA DATABASE
            }
        }
    </script>
</head>

<body>
<h1>Oversikt over ansatte</h1>
<input type="text" id="nameInput" onkeyup="searchNameFunction()" placeholder="Søk på ansatt">
<input type="text" id="positionInput" onkeyup="searchPositionFunction()" placeholder = "Søk på stilling">
<button type="button" id="add" data-toggle="modal" data-target="#addModal">Legg til ansatt</button>

<table id="myTable">
    <tr class="header">
        <th style="width:15%;">Navn</th>
        <th style="width:14%;">Stilling</th>
        <th style="width:14%;">Telefonnummer</th>
        <th style="width:14%;">E-post</th>
        <th style="width:14%;">Adresse</th>
        <th style="width:14%;">Personnummer</th>
        <th style="width:14%;">Brukernavn</th>
    </tr>
    <tr data-toggle="modal";>
        <td>Alfreds Futterkiste</td>
        <td>Sykepleier</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr data-toggle="modal";>
        <td>Berglunds snabbkop</td>
        <td>Assistent</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr data-toggle="modal";>
        <td>Island Trading</td>
        <td>Assistent</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr data-toggle="modal";>
        <td>Koniglich Essen</td>
        <td>Hjelpepleier</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<!-- 1:Modal-Add -->
<div class="modal fade" id="addModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <!-- Modal header-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Legg til ansatt</h3>
            </div>
            <!-- Modal body-->

            <main class="modal-body">
                <img id="picEmp" src="http://www.freeiconspng.com/uploads/profile-icon-9.png" alt="Bilde av ansatt" height="150px" width="150px"></img>
                <button type="button" id="addPicEmp">Legg til bilde</button>
                <form id="addEmp">
                    Fornavn:
                    <input required id="fornavn" type="text" name="firstname" placeholder="eks: Ola">
                    <br>
                    Etternavn:
                    <input required id="etternavn" type="text" name="lastname" placeholder="eks: Nordmann">
                    <br>
                    Stilling:
                    <input required id="stilling" type="text" name="position" placeholder="eks: sykepleier">
                    <br>
                    Telefonnummer:
                    <input required id="telefon" type="number" name="phone" placeholder="eks: +47 12345678">
                    <br>
                    E-postadresse:
                    <input required id="epost" type="text" name="email" placeholder="eks: noen@mail.no">
                    <br>
                    Adresse:
                    <input required id="adresse"type="text" name="address" placeholder="eks: Gateveien 1">
                    <br>
                    Personnummer:
                    <input required id="personnummer" type="text" name="persNo" placeholder="11 siffer">
                    <br>
                    Brukernavn:
                    <input required id="brukernavn" type="text" name="username" placeholder="eks: olanordmann">
                    <br>
                    <br>
                    <button id="save" type="submit" value="submit">Lagre</button>
                </form>
            </main>
            <!-- Modal footer-->
            <div class="modal-footer">
                <button type="button" class="closeButton" data-dismiss="modal">Lukk</button>
            </div>
        </div>
    </div>
</div>


<!-- 2:Modal-Edit -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <!-- Modal header-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Oversikt over ansatt</h3>
            </div>
            <!-- Modal body-->
            <main class="modal-body">
                <div class="infoCard">
                    <img id="empPic" src="http://www.freeiconspng.com/uploads/profile-icon-9.png" alt="Bilde av ansatt" style="width:80%">
                    <div class="container">
                        <p><input type="text" id="nameModal" class="desc" readonly/></p>
                        <p><input type="text" id="positionModal" class="desc" readonly/></p>
                    </div>
                </div>
                <section id="personForm" style="display:none;">
                    <form id="editEmp" action="#">
                        Fornavn:
                        <input required id="fornavn" type="text" name="firstname" placeholder="eks: Ola">
                        <br>
                        Etternavn:
                        <input required id="etternavn" type="text" name="lastname" placeholder="eks: Nordmann">
                        <br>
                        Stilling:
                        <input required id="stilling" type="text" name="position" placeholder="eks: sykepleier">
                        <br>
                        Telefonnummer:
                        <input required id="telefon" type="number" name="phone" placeholder="eks: +47 12345678">
                        <br>
                        E-postadresse:
                        <input required id="epost" type="text" name="email" placeholder="eks: noen@mail.no">
                        <br>
                        Adresse:
                        <input required id="adresse"type="text" name="address" placeholder="eks: Gateveien 1">
                        <br>
                        Personnummer:
                        <input required id="personnummer" type="number" name="persNo" placeholder="11 siffer">
                        <br>
                        Brukernavn:
                        <input required id="brukernavn" type="text" name="username" placeholder="eks: olanordmann">
                        <br>
                        <br>
                        <button type="submit" value="submit" display="none">Lagre</button>
                        <button type="button" id="back" onclick="hideForm()" display="none">&#8592;Tilbake</button>
                    </form>
                </section>



                <section id="personInfo" style="display:block">
                    <table cellspacing="10">
                        <tr>
                            <td class="info">Fornavn:</td>
                            <td id="firstnamedb">FRADATABASE</td>
                        </tr>
                        <tr>
                            <td class="info">Etternavn:</td>
                            <td id="lastnamedb">FRADATABASE</td>
                        </tr>
                        <tr>
                            <td class="info">Stilling:</td>
                            <td id="posdb">FRADATABASE</td>
                        </tr>
                        <tr>
                            <td class="info">Telefonnummer:</td>
                            <td id="phonedb">FRADATABASE</td>
                        </tr>
                        <tr>
                            <td class="info">E-postadresse:</td>
                            <td id="emaildb">FRADATABASE</td>
                        </tr>
                        <tr>
                            <td class="info">Adresse:</td>
                            <td id="addressdb">FRADATABASE</td>
                        </tr>
                        <tr>
                            <td class="info">Personnummer:</td>
                            <td id="persnodb">FRADATABASE</td>
                        </tr>
                        <tr>
                            <td class="info">Brukernavn:</td>
                            <td id="usernamedb">FRADATABASE</td>
                        </tr>
                    </table>
                </section>
                <aside class = "buttons">
                    <button type="button" id="edit" onclick="hideInfo()" display="inline">Rediger ansatt </button>
                    <button type="button" id="remove" onclick="removeFunction()" display="inline">Fjern ansatt</button>
                </aside>
            </main>

            <!-- Modal footer-->
            <div class="modal-footer">
                <button type="button" class="closeButton" data-dismiss="modal">Lukk</button>
            </div>

        </div>
    </div>
</div>

<script>
    function hideForm() {
        document.getElementById('personForm').style.display = "none";
        document.getElementById("personInfo").style.display = "block";
        document.getElementById("edit").style.display = "inline";
        document.getElementById("remove").style.display = "inline";
        document.getElementById("back").style.display = "none";
    }

    function hideInfo() {
        document.getElementById("personInfo").style.display = "none";
        document.getElementById("personForm").style.display = "block";
        document.getElementById("remove").style.display = "none";
        document.getElementById("edit").style.display="none";
        document.getElementById("back").style.display="inline";
        document.getElementById("back").style.display="inline";
    }

    function saveFunction() {
        var x;
        if (confirm("Er du sikker på at du vil lagre?") == true) {
            //OPPDATER INFO I DATABASEN
        }
    }

    $('table tbody tr  td').on('click',function(){
        $("#myModal").modal("show");
        $("#nameModal").val($(this).closest('tr').children()[0].textContent);
        $("#positionModal").val($(this).closest('tr').children()[1].textContent);
    });
</script>
<!-- End all modal -->

</body>
</html>
