doctype html
| html(lang='en')
|   head
|     meta(charset='UTF-8')
|     title MinProfil
|     link(href='/css/myProfile.css', rel='stylesheet', type='text/css')
|     // public + /css/myProfile.css
|     script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
|   body
|     main
|       h1#h1 navn på ansatt FRADATABASE
|       table(cellspacing='10')
|         tr
|           td.info Stillingstittel
|           td#stillingstittel.db
|         tr
|           td.info Telefonnummer
|           td#tlfnr.db FRADATABASE
|         tr
|           td.info E-postadresse
|           td#epost.db FRADATABASE
|         tr
|           td.info Adresse
|           td#adresse.db FRADATABASE
|       button(type='button') Rediger
|     figure
|       img(src='/img/kungen.jpg', alt='Bilde av ansatt', size='width:100px height:100px;')
|     script.
|       $(document).ready(function(){ // syntax for å hente data når dokument (html) er lastet inn
|       $.get('/NodeETest', {}, function(req, res, data){
|       console.log(data);
|       console.log(data.responseJSON[1]);
|       document.getElementById("h1").innerHTML = data.responseJSON[0].notat;
|       document.getElementById("stillingstittel").innerHTML = data.responseJSON[0].notat;
|       document.getElementById("tlfnr").innerHTML = data.responseJSON[0].notat;
|       document.getElementById("epost").innerHTML = data.responseJSON[0].notat;
|       document.getElementById("adresse").innerHTML = data.responseJSON[0].notat;
|       });
|       });
