<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vaktoversikt</title>
    <script src="../public/frontendJS/sorttable.js"></script>
    <link rel="stylesheet" href="../public/css/Vaktoversiktstyle.css">


</head>

<body>


<div class="main-content">
    <div class="toolbar">
        <div class="left">
        </div>
        <div class="center">
        </div>
        <div class="right">
        </div>

    </div>
    <div class="vaktbok-body">
        <div class="dagsvakt-content">
            <div class="dagsvakt-text">
                <h4>Dagsvakt 08:00-16:00</h4>
            </div>
            <table class="sortable">
                <thead>
                <tr>
                    <th>Navn</th>
                    <th>Stilling</th>
                    <th>Avdeling</th>
                    <th>Ansvar</th>
                    <th>Nummer</th>
                </tr>
                </thead>
                <tbody id="day">
                <tr class="daybox">
                    <td class="name"></td>
                    <td class="type"></td>
                    <td class="department"></td>
                    <td class="responsibility"></td>
                    <td class="phone"></td>
                </tr>

                </tbody>
            </table>
        </div>


        <div class="kveldsvakt-content">
            <div class="kveldsvakt-text">
                <h4>kveldsvakt 16:00- 24:00</h4>
            </div>
            <table class="sortable">
                <thead>
                <tr>
                    <th>Navn</th>
                    <th>Stilling</th>
                    <th>Avdeling</th>
                    <th>Ansvar</th>
                    <th>Nummer</th>
                </tr>
                </thead>
                <tbody id="evening">
                <tr>
                    <td id="name1" ></td>
                    <td id="type1"></td>
                    <td id="department1"></td>
                    <td id="responsibility1"></td>
                    <td id="phone1"></td>
                </tr>


            </table>
        </div>

        <div class="nattevakt-content">
            <div class="nattevakt-text">
                <h4>nattevakt 24:00-08:00</h4>
            </div>
            <table class="sortable">
                <thead>
                <tr>
                    <th>Navn</th>
                    <th>Stilling</th>
                    <th>Avdeling</th>
                    <th>Ansvar</th>
                    <th>Nummer</th>
                </tr>
                </thead>
                <tbody id="night">
                <tr>
                    <td id="name2" ></td>
                    <td id="type2"></td>
                    <td id="department2"></td>
                    <td id="responsibility2"></td>
                    <td id="phone2"></td>
                </tr>
                </tbody>


            </table>
            <button type="button" onclick="addToTable(contentname,contenttype,contentdepartment,contentresponsibility,contentphone,
                             newIDdaybox, newIDname, newIDtype, newIDdepartment, newIDresponsibility, newIDphone)">trykk</button>
        </div>
    </div>
</div>

<script type="text/javascript">

    function addToTable(contentname,contenttype,contentdepartment,contentresponsibility,contentphone,
                             newIDdaybox, newIDname, newIDtype, newIDdepartment, newIDresponsibility, newIDphone){
        var daybox_tr = document.createElement('tr');
        daybox_tr.id = newIDdaybox;
        daybox_tr.className = 'daybox';
        var name_td = document.createElement('td');
        name_td.id = newIDname;
        name_td.className = 'name';
        var type_td = document.createElement('td');
        type_td.id = newIDtype;
        type_td.className = 'type';
        var department_td = document.createElement('td');
        department_td.id = newIDdepartment;
        department_td.className = 'department';
        var responsibility_td = document.createElement('td');
        responsibility_td.id = newIDresponsibility;
        responsibility_td.className = 'responsibility';
        var phone_td = document.createElement('td');
        phone_td.id = newIDphone;
        phone_td.className = 'phone';

        name_td.innerHTML = contentname;
        type_td.innerHTML = contenttype;
        department_td.innerHTML = contentdepartment;
        responsibility_td.innerHTML = contentdepartment;
        phone_td.innerHTML = contentphone;
        // The variable iDiv is still good... Just append to it.


        daybox_tr.insertCell(name_td);
        daybox_tr.insertCell(type_td);
        daybox_tr.insertCell(department_td);
        daybox_tr.insertCell(responsibility_td);
        daybox_tr.insertCell(phone_td);

        document.getElementById("day").insertRow(daybox_tr);

    }
    function remove(id){
        var elem = document.getElementById(id);
        return elem.parentNode.removeChild(elem);
    }

</script>

</body>
</html>

