<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>vaktoversikt</title>
    <script src="frontendJS/sorttable.js"></script>
    <!--<script src="vaktoversikt.js"></script>-->
    <link rel="stylesheet" href="css/Vaktoversiktstyle.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <style src="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"></style>
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="frontendJS/vaktoversikt.js"> </script>
    <script src="frontendJS/jquery-tablesorter.js"></script>
    <script src="frontendJS/jquery-latest.js"></script>
    <script>
    $(document).ready(function()
    {
    $("#excelDataTable").tablesorter();
    }
    );
    </script>



</head>

<body>

<div class="main-content">
    <div class="toolbar">

    </div>
    <div class="vaktbok-body">
        <div class="dagsvakt-content">
            <div class="dagsvakt-text">
                <h4>Dagsvakt 08:00-16:00</h4>
            </div>
                <div id="size">
                <table id="excelDataTable" class="tablesorter">

                </table>
                </div>
        </div>
    </div>
</div>
    </div>
    <div class="vaktbok-body">
        <div class="dagsvakt-content">
            <div class="dagsvakt-text">
                <h4>Dagsvakt 08:00-16:00</h4>
            </div>
            <div id="size">
                <table id="excelDataTable" class="tablesorter">

                </table>
            </div>
        </div>
    </div>
    </div>
<div class="vaktbok-body">
    <div class="dagsvakt-content">
        <div class="dagsvakt-text">
            <h4>Dagsvakt 08:00-16:00</h4>
        </div>
        <div id="size">
            <table id="excelDataTable" class="tablesorter">

            </table>
        </div>
    </div>
</div>



</body>
</html>


<table></table>

</body>
</html>

