<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vaktoversikt</title>
    <script src="frontendJS/sorttable.js"></script>
    <!--<script src="vaktoversikt.js"></script>-->
    <link rel="stylesheet" href="css/Vaktoversiktstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


</head>

<body onLoad="buildHtmlTable('#excelDataTable')">

<div class="main-content">
    <div class="toolbar">
        <div class="left">
        </div>
        <div class="center">
        </div>
        <div class="right">
        </div>

    </div>
    <div class="vaktbok-body">
        <div class="dagsvakt-content">
            <div class="dagsvakt-text">
                <h4>Dagsvakt 08:00-16:00</h4>
            </div>
            <table class="sortable">
                <thead>
                <tr>
                    <th>Navn</th>
                    <th>Stilling</th>
                    <th>Ansatt Id</th>
                    <th>Ansvar</th>
                    <th>Nummer</th>
                </tr>
                </thead>
                <tbody id="day">
                <tr class="daybox">
                    <td class="name" id = name></td>
                    <td class="type" id = type></td>
                    <td class="employee_id" id =employee_id ></td>
                    <td class="responsibility" id = responsibility_allowed></td>
                    <td class="phone" id = phone></td>
                </tr>

                </tbody>
            </table>
        </div>


        <div class="kveldsvakt-content">
            <div class="kveldsvakt-text">
                <h4>kveldsvakt 16:00- 24:00</h4>
            </div>
            <table class="sortable">
                <thead>
                <tr>
                    <th>Navn</th>
                    <th>Stilling</th>
                    <th>Avdeling</th>
                    <th>Ansvar</th>
                    <th>Nummer</th>
                </tr>
                </thead>
                <tbody id="evening">
                <tr>
                    <td id="name1" ></td>
                    <td id="type1"></td>
                    <td id="department1"></td>
                    <td id="responsibility1"></td>
                    <td id="phone1"></td>
                </tr>


            </table>
        </div>

        <div class="nattevakt-content">
            <div class="nattevakt-text">
                <h4>nattevakt 24:00-08:00</h4>
            </div>
            <table class="sortable">
                <thead>
                <tr>
                    <th>Navn</th>
                    <th>Stilling</th>
                    <th>Avdeling</th>
                    <th>Ansvar</th>
                    <th>Nummer</th>
                </tr>
                </thead>
                <tbody id="night">
                <tr>
                    <td id="name2" ></td>
                    <td id="type2"></td>
                    <td id="department2"></td>
                    <td id="responsibility2"></td>
                    <td id="phone2"></td>
                </tr>
                </tbody>


            </table>
        </div>
    </div>
</div>


<script src="frontendJS/vaktoversikt.js"> </script>

<script src="frontendJS/troll.js"></script>

<table id="excelDataTable"></table>

</body>
</html>

