<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>vaktoversikt</title>
    <script src="frontendJS/sorttable.js"></script>
    <!--<script src="vaktoversikt.js"></script>-->
    <link rel="stylesheet" href="css/Vaktoversiktstyle.css">
    <link href="css/bootstrap.css" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <style src="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"></style>
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="frontendJS/vaktoversikt.js"> </script>
    <script src="frontendJS/jquery-tablesorter.js"></script>
    <script src="frontendJS/jquery-latest.js"></script>


<head/>


<div id="includedContent"></div>
<script> $("#includedContent").load("menu"); </script>




<body>
    <div class="main-content">
        <div class="navbar-shift">
            <div class="shift-left">
                <div id="shift-buttons" class="btn-group">
                    <button type="button" class="btn btn-default" id="shift-prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" id="shift-next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="shift-right">
                <div class="shift-buttons">

                    Velg avdeling:
                    <select id="departmentInput">
                    </select>
                        <!-- <div class="dropdown">
                            </select>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="department-dropdown">
                            <li><a href="#">Avdeling1</a></li>
                            <li><a href="#">Avdeling2</a></li>
                            <li><a href="#">Avdeling3</a></li>
                        </ul>
                    </div>-->
                </div>

            </div>

            <div class="shift-center">
                <h2 id="date"></h2>

            </div>
            <div class="shift-clear"></div>
        </div>

    </div>
    <div class="vaktbok-body">
        <div class="day-content">
            <div class="dagsvakt-text">
                <h4>Dagsvakt 08:00-16:00</h4>
            </div>
                <div class="table-responsive">
                <table id="dayTable" class="table table-striped table-bordered">

                </table>
                </div>
        </div>

        <div class="evening-content">
            <div class="dagsvakt-text">
                <h4>Kveldsvakt 16:00-24:00</h4>
            </div>
            <div class="table-responsive">
                <table id="eveningTable" class="table table-striped table-bordered">

                </table>
            </div>
        </div>

        <div class="night-content">
            <div class="dagsvakt-text">
                <h4>Nattevakt 24:00-08:00</h4>
            </div>
            <div class="table-responsive">
                <table id="nightTable" class="table table-striped table-bordered">

                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>


<table></table>

</body>
</html>

