body, html {
    padding: 0;
    font-family: "Lucida Grande","Helvetica","Arial","Verdana",sans-serif;
    font-size: 14px;
    width:100%;
    height:100%;
}
#includedContent {

}
#calendarx {
    display: inline-block;
    margin-left: 13%;
    margin-right: 13%;
    width:74%;
}

.fc-event {
    cursor: pointer !important;
}

#organizeShiftTitle {
    text-align: center;
}
#adminNewShiftModal{
    width:700px;
    height:80%;
    margin-top:52px;
    margin-left:calc(50% - 350px);
}
#adminNewShiftModalContent {
    height:500px;
}
#departmentBox p, #numberBox p {
    float:left;
    margin-bottom: 0;
    text-align: center;
    width:100%;
}
#chooseDepartment {
    width:300px;
    margin-left:calc(50% - 150px);
    margin-right:calc(50% - 150px);
}
#chooseNumber {
    width:40px;
    margin-left:calc(50% - 20px);
    margin-right:calc(50% - 20px);
}
#numberBox, #peopleBox{
    margin-top:5px;
}


@media screen and (min-width: 130vh) {
    #calendarx {
        width:110vh;
        margin-left:calc((100% - 110vh)/2);
        margin-right:calc((100% - 110vh)/2);
    }
}
@media screen and (max-width: 800px) {
    #calendarx {
        width:98%;
        margin-left:1%;
        margin-right: 1%;
    }

    #adminNewShiftModal{
        width:90%;
        margin-left:5%;
    }
}


/*
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
*/

