

#available-table th{
    text-align: center;

}

#available-table td{
    width: 50px;
    height: 35px;
}

tr { cursor: default; }
.highlight { background: yellow !important; }

.available { background: #b1d9b3; }
.unavailable { background: #ffdbcf; }