#successMessageBox, #errorMessageBox {
    display:none;
    padding: 10px 0;
    font-size:20px;
    text-align: center;
    position:fixed;
    top:52px;
    width:calc(100% - 2px);
    margin:0;
    z-index:99999;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
}
#successMessageBox {
    background-color: #ccffcc;
    border: 1px solid #7CbF70;
    color: #7CbF70;
}
#errorMessageBox {
    background-color: #ffcccc;
    border: 1px solid #ff7777;
    color: #ff7777;
}

#sideTitle {
    font-weight: bold;
    font-size: 25px;
    padding-bottom:10px;
    text-align:center;
    border-bottom: 1px #bbb solid;
    margin:0 1% 20px 1%;
    width:98%;
}

#available-table th{
    text-align: center;

}

#available-table td{
    width: 50px;
    height: 35px;
}

tr { cursor: default; }
.highlight { background: yellow !important; }

.available { background: #b1d9b3; }
.unavailable { background: #ffdbcf; }

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    #sideTitle {
        width: calc(100% - 1em);
        margin-left:0.5em;
        margin-bottom:0.5em;
        font-size: 1.5em;
        padding-bottom:0.5em;
    }
}