body {
    padding: 0;
    font-family: "Lucida Grande","Helvetica","Arial","Verdana",sans-serif;
    font-size: 14px;
}

#calendar {
    float:left;
    width: 69%;
    margin-left:1%;
    overflow:hidden;
}
.fc-basic-view .fc-body .fc-row{
    min-height:3.5em;
    height:7vw;
    max-height:14vh;
}
.fc-toolbar.fc-header-toolbar {
    margin-bottom: 0.7em;
}
.fc-center h2{
    height:auto;
    font-size:1.8em;
    line-height:0;
}

#nextShift {
    float:right;
    height: 30%;
    width: 28%;
    margin-top: 52px;
    margin-left: 1%;
    margin-right: 1%;

    border: solid #f2f2f2 1px;
    border-radius: 5px;
    box-shadow: -2px 2px 5px #888888;



}
.shiftHeader{
    text-align: center;
}
#nextShiftInfo{
    text-align: center;
    padding: 3%;
}

#newShiftBox {
    position: absolute;
    border: solid #f2f2f2 1px;
    box-shadow: 1px 1px 1px #888888;
    border-radius: 5px;
    height: 30%;
    width: 15%;
    margin-left: 78%;
    margin-top: 22%;
    text-align: center;

}
#newShifts{
    text-align: center;
    padding:5%;
}

.menuBtn{
    float:right;
    width: 207px;
    margin-left: calc(15% - 104px);
    margin-right: calc(15% - 104px);
    margin-top: 1%;
    box-sizing: border-box;
    padding: 10px 20px;

    background-color: royalblue;
    border: none;
    border-radius: 5px;

    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor:pointer;

    box-shadow: 2px 2px 5px #888888;
}
.menuBtn:hover{
    background-color: #6585e7;
}


#acceptB{
    background-color: #4CAF50;
    margin-left:calc(100% - 150px);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    cursor:pointer;
    width: 150px;
}
#acceptB:hover {
    background-color: #7CbF70;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    #calendar {
        position:relative;
        width:calc(100% - 1em);
        margin-top:0;
        margin-left:0.5em;
        margin-right:0.5em;
        float:left;
    }
    .fc-basic-view .fc-body .fc-row{
        height:10vw;
    }
    #nextShift {
        float:right;
        height: 10em;
        width: calc(50% - 1em);
        margin:0;
        margin-top:0.5em;
        margin-left:0.5em;
        margin-right:0.5em;
    }
    .menuBtn{
        float:left;
        font-size: 1em;
        width: calc(50% - 1em);
        box-sizing:border-box;
        position:relative;
        margin-right: 0.5em;
        margin-left: 0.5em;
        height: 3em;
    }
    #availabilityB, #extraB, #shiftB {
        margin-top: 0.5em;
    }
    .shiftHeader {
        font-size: 1.5em;
    }
    #nextShiftInfo {
        font-size: 1em;
    }
    #switchTable{
        font-size: 0.8em;
    }
}
