@charset "utf-8";
/* CSS Document */

.content{
    border: 1px #4B4B4B;
    width:50%;
    height: 50%;
}

#successMessageBox {
    position:fixed;
    bottom:0;
    width:100%;
    margin:0;
    z-index:99999;
}
#sideTitle {
    font-weight: bold;
    font-size: 25px;
    padding-bottom:10px;
    text-align:center;
    border-bottom: 1px #bbb solid;
    margin:0 1% 20px 1%;
    width:98%;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    #sideTitle {
        width: calc(100% - 1em);
        margin-left:0.5em;
        margin-bottom:0.5em;
        font-size: 1.5em;
        padding-bottom:0.5em;
    }
}