
#calendar{
    position: absolute;
    width: 50%;
    height:40%;
    margin-left: 22%;
    margin-top: 0%;
}

#warning{
    position: absolute;
    border: solid #f2f2f2 1px;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 5px;
    height: 30%;
    width: 15%;
    margin-left: 78%;
    margin-top: 5%;
    cursor: pointer;
}
#warning:hover{
    background-color: lightyellow
}

#freeShifts{
    position: absolute;
    border: solid #f2f2f2 1px;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 5px;
    height: 30%;
    width: 15%;
    margin-left: 78%;
    margin-top: 23%;

}

.titles{
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}
.buttonsAdmin{
    background-color: royalblue;
    position: absolute;
    margin-left: 4%;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor:pointer;
    width: 200px;
}

.buttonsAdmin span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.buttonsAdmin span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}

.buttonsAdmin:hover span {
    padding-right: 15px;
}

.buttonsAdmin:hover span:after {
    opacity: 1;
    right: 0;
}

#buttonChangeTab{
    margin-top: 15%;
}
#buttonChangeTab:hover{
    background-color: #6585e7;
}
#calendarButton{
    margin-top: 5%;
}
#calendarButton:hover{
    background-color: #6585e7;
}
#listButton{
    margin-top: 10%;
}
#listButton:hover{
    background-color: #6585e7;
}
#list{
    position: absolute;
    margin-left: 25%;
    margin-top: 4%;
}

