@charset "utf-8";
/* CSS Document */

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.imgcontainer {
    text-align: center;
    padding-top: 4%;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}



.container {
    padding: 16px;
    width: 400px;
    margin: 0;
    position: absolute;
    top: 550px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)


}

span.passord {
    float: right;
    padding-top: 16px;
}