body {
    padding: 0;
    font-family: "Lucida Grande","Helvetica","Arial","Verdana",sans-serif;
    font-size: 14px;
}
html, body {
    height:100%;
    width:100%;
}
h1{
    font-size: 36px;
    text-align: center;
}

.flytt{
    margin-left: 8%;
    margin-right:8%;
    margin-top:5%;
}

.infoEmp {
    float:left;
    margin-left:5%;
    border: solid #f2f2f2 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
    width:calc(95% - 180px - 10vw);
}
#navn{
    text-align: left;
    width: 100%;
    border-bottom: solid 1px lightgrey;
    padding: 2%;
    margin:0;
}
.info{
    font-size: calc(10px + 0.5vw);
    text-align: right;
    padding-right: 10px;
}
.db{
    font-size: calc(10px + 0.5vw);
    text-align: left;
    padding-left: 20px;
}
#editBtn, #passwordBtn, #historyBtn {
    border: none;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin:3% 0 3% 2%;
    border-radius: 5px;
    background-color: royalblue;
    font-size: calc(10px + 0.5vw);
}
#historyBtn{
    background-color: #808080;
}

#pictureEmp{
    width: calc(180px + 10vw);
    float:left;
}
#profilePic{
    width: 100%;
    height: auto;
}
#picBtn{
    width:calc(130px + 5vw);
    margin-left:calc(50% - 65px - 2.5vw);
    padding: 5px;
    color:black;
    background-color: white;
    border: solid black 1px;
    border-radius: 5px;
    margin-top:10%;
    font-size: calc(10px + 0.5vw);
}

#histTable{
    width:90%;
    margin-left: 5%;
}
.histTable{
    width: 100%;
}
.histTable td{
    text-align: center;
}
.histTable tr:nth-child(odd):not(:first-child){
    background-color: white;
}
.histTable tr:nth-child(even):not(:first-child){
    background-color: #f1f1f1;
}
.histTable tr:hover:not(:first-child){
    background-color: aliceblue;
}
.headerTable th{
    text-align: center;
    background-color: royalblue;
    color:white;
    padding-top: 1%;
    padding-bottom: 1%;
}
.table-responsive{
    padding: 1%;
}
.saveEdit{
    background-color: royalblue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    margin-left: 70%;
    border-radius:5px;
}
.inputEdit{
    width:100%;
}
#passwordForm{
    padding:10px;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .flytt{
        margin:0;
        box-sizing: border-box;
        height:calc(100% - 30px);
        width:100%;
        padding: 0.5em 0.5em 0.5em 0.5em;
    }
    #pictureEmp{
        width: 100%;
    }
    #profilePic{
        width: 60%;
        margin-left:20%;
        margin-right:20%;
    }
    #picBtn{
        width:12em;
        margin-left:calc(50% - 65px - 2.5vw);
        padding: 0.5em;
        margin-top:0.5em;
        font-size: 1em;
    }
    .infoEmp {
        float:left;
        margin:0;
        margin-top: 0.5em;
        width:100%;
    }
    .info{
        padding-left: 0.25em;
        padding-right: 0.25em;
        font-size: 0.9em;
    }
    .db{
        font-size: 0.9em;
        padding-left:0;
    }
    #editBtn, #passwordBtn, #historyBtn {
        width:calc(32.5% - 1em);
        padding: 0.5em 0;
        margin:3% 0 3% 2%;
        border-radius: 5px;
        background-color: royalblue;
        font-size: calc(10px + 0.5vw);
    }
    #histTable{
        font-size:0.7em;
    }
}