#nameInput {
    width: 25%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#positionInput {
    width: 25%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#excelDataTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 16px;
}

#excelDataTable th, #excelDataTable td {
    text-align: left;
    padding: 5px;
}
.input{
    text-align: left;
    width: 60%;

}
#excelDataTable tr {
    border-bottom: 1px solid #ddd;
}
#excelDataTable td:hover{
    color: darkgray;
}

#excelDataTable tr.header{
    background-color: #f1f1f1;
}
#excelDataTable tr:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.container {
    padding: 2px 16px;

}
#edit{
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    color: black;
    position: relative;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#addInfo{
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    position: relative;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
}
#remove{
    margin-left: 10px;
    background-color: indianred;
    border: none;
    border-radius: 5px;
    color: white;
    position: relative;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#addBtn{
    margin-left: 10px;
    background-color: royalblue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#myModal .modal-dialog{
    width: 800px;
}
#editEmp {
    position: relative;
    width: 70%;
    text-align: right;
    margin-left: 10%;
}
#logInInfo{
    position: relative;
    width: 50%;
    margin-left: 30%;
    text-align: right;
    padding-bottom: 5%;
}

.buttons{
    margin-left: 270px;
    padding-top: 5%;
    position: relative;
}

.modal-footer{
    position: relative;
    padding-top: 10%;
}
#personInfo{
    margin-left: 10%;
    text-align: left;
    font-size: 16px;
}

#addEmp{
    position: relative;
    text-align:right;
    margin-right: 23%;
}

#save{
    margin-left: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    margin-top: 0px;
}

.info{
    font-size: 18px;
    text-align: right;
    padding-bottom: 2%;
}
#stilling{
    width: 60%;
}

.persInfodb{
    text-align: left;
    padding-left:5%;
    padding-bottom: 2%;
}
.dbInfo{
    width:70%;
}

.backBtn{

    background-color: royalblue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#back{
    position: absolute;
    margin-left: 20%;
}
.saveEdit{
    margin-left: 40%;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#back2{
    position: absolute;
    margin-left: 10%;

}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {


    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td:nth-child(3) {
        display:none;
    }
    td:nth-child(4) {
        display:none;
    }
    td:nth-child(5) {
        display:none;
    }
    td:nth-child(6) {
        display:none;
    }
    td:nth-child(9) {
        display:none;
    }
    td:nth-child(10) {
        display:none;
    }
}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
    -webkit-overflow-scrolling: touch;
}