@charset "utf-8";


body, html{
    width:100%;
    height:100%;
}


#size, #size1, #size2{
    width: 100%;
    display: block;
}
thead {
    width: 100%;
    display: table-header-group;
}
tbody {
    height: 10vw;
    width: 100%;
    overflow-y: scroll;
}


/*toolbar*/
.navbar-shift{
    width: 100%;
}

div{
    display: block;
}

button{
    position: relative;
}

#shift-buttons{
    display: inline-block;
}
#shift-prev{
    float:left;
}

#shift-next{
    float:left;
}

.navbar-shift{
    float: left;
    text-align:center;
}

.shift-left{
    float: left;
}

.shift-right{
    float: right;
}

.shift-center{
    display: inline-block;
}

.shift-clear{
    clear: both;
}

#department-dropdown{
    width: 170px;
}

/*
table.sortable thead:nth-child(odd) {
    background-color:#bf946f;
}


table.sortable td:nth-child(even) {
    text-align:center;
    height: 30px;
    border:#CBCBCB 1px;
    background-color:#E5E5E5;
    width: 100px;
}
*/