@charset "utf-8";
/* CSS Document */
/* Sortable tables */




#excelDataTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
    height: 400px;
    overflow: hidden;
}

#excelDataTable th, #excelDataTable td {
    text-align: left;
    padding: 12px;
}

#excelDataTable tr {
    border-bottom: 1px solid #ddd;
}
#excelDataTable td:hover{
    color: darkgray;
}

#excelDataTable tr.header{
    background-color: #f1f1f1;
}
#excelDataTable tr:hover{
    background-color: aliceblue;
    cursor: pointer;
}

#size{
    height: 200px;
    overflow: auto;
}
thead{
}

tbody{

}

/*
table.sortable thead:nth-child(odd) {
    background-color:#bf946f;
}


table.sortable td:nth-child(even) {
    text-align:center;
    height: 30px;
    border:#CBCBCB 1px;
    background-color:#E5E5E5;
    width: 100px;
}
*/